/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';

@import './base/common';
@import './base/container';
@import './utils/visually-hidden';

@import './layout/hero';

@import './layout/advantages';
