:root {
--main-font: 'DM Sans', sans-serif;
--secondary-font: 'Titan One', cursive;
--base-color-light: #FFFFFF;
--base-color-dark: #000000;
--text-color: #907E82;
--title-main-color: #D41443;
--title-secondary-color: #FFA5BA;
--burger-main-color: #E17992;
--burger-secondary-color: #E18298;
--btn-hover-color: #ECEBEB;
--products-bg-color-1: #FFB8CA;
--products-bg-color-2: #F0D1A5;
--products-bg-color-3: #C2E297;
--reviews-bg-color: #FAFAFA;
--reviews-quotes-color: #E1E1E1;
--reviews-small-dots-color: #C7133E;
--reviews-big-dots-color: #D9D9D9;
--reviews-home-color: #D31342;
--contacts-btn-color: #D41342;
--secondary-bg-color: #FFF5F6;
--footer-icons-color: #FEA5BB;
}