<section class="about" id="howitsmade">
  <div class="container">
    <p class="about__title animate__bounceInLeft">TRADITIONS AND LOVE</p>
    <h2 class="about__header animate__bounceInRight">HOW IT'S MADE?</h2>

    <div class="description">
      <div class="description__img">
        <picture>
          <source
            srcset="
              ./images/desktop/about/webp/about-1.webp    1x,
              ./images/desktop/about/webp/about-1@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="./images/desktop/about/about-1.png 1x, ./images/desktop/about/about-1@2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/tablet/about/webp/about-1.webp    1x,
              ./images/tablet/about/webp/about-1@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="./images/tablet/about/about-1.png 1x, ./images/tablet/about/about-1@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/about/webp/about-1.webp    1x,
              ./images/mobile/about/webp/about-1@2x.webp 2x
            "
            media="(max-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="./images/mobile/about/about-1.png 1x, ./images/mobile/about/about-1@2x.png 2x"
            media="(max-width: 768px)"
          />
          <img
            class="description__img-img"
            src="./images/desktop/about/about-1.png"
            alt="glass of milk and cow"
          />
        </picture>
      </div>
      <div class="description__text">
        <div class="description__text-bg">
          <p class="description__text-item">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
          <p class="description__text-item item--grey">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.
          </p>
          <p class="description__text-item item--grey">Aliquam erat volutpat. Aenean accumsan.</p>
        </div>
        <div class="about__btn">
          <button class="button animate__swing" data-modal-about-open>Read more</button>
        </div>
      </div>
    </div>
  </div>
</section>
