<section class="contact">
    <h2 class="visually-hidden">Contacts</h2>

    <ul class="contact__list">
        <li class="contact__item">

            <ul class="contact-card__list">
                <li class="contact-card__item">
                    <p class="contact-card__category">Cafe</p>
                </li>

                <li class="contact-card__item">
                    <p class="contact-card__name">Chicago</p>
                    <p class="contact-card__title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>

                <li class="contact-card__item">
                    <p class="contact-card__day">Monday - Friday<br />
                        <time class="contact-card__time">06:00 AM - 10:00 PM</time>
                    </p>

                    <p class="contact-card__day">Saturday - Sunday<br />
                        <time class="contact-card__time">08:00 AM - 16:00 PM</time>
                    </p>
                </li>

                <li class="contact-card__item">
                    <address class="contact-card__address">
                        <a class="contact-card__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        <a class="contact-card__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </address>
                </li>
            </ul>

        </li>

        <li class="contact__item">

            <ul class="contact-card__list">
                <li class="contact-card__item">
                    <p class="contact-card__category">Foodtruck</p>
                </li>

                <li class="contact-card__item">
                    <p class="contact-card__name">Los Angeles</p>
                    <p class="contact-card__title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>

                <li class="contact-card__item">
                    <p class="contact-card__day">Monday - Friday<br />
                        <time class="contact-card__time">06:00 AM - 10:00 PM</time>
                    </p>

                    <p class="contact-card__day">Saturday - Sunday<br />
                        <time class="contact-card__time">08:00 AM - 16:00 PM</time>
                    </p>
                </li>

                <li class="contact-card__item">
                    <address class="contact-card__address">
                        <a class="contact-card__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        <a class="contact-card__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </address>
                </li>
            </ul>

        </li>

        <li class="contact__item">

            <ul class="contact-card__list">
                <li class="contact-card__item">
                    <p class="contact-card__category">Cafe</p>
                </li>

                <li class="contact-card__item">
                    <p class="contact-card__name">New York</p>
                    <p class="contact-card__title">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>

                <li class="contact-card__item">
                    <p class="contact-card__day">Monday - Friday<br />
                        <time class="contact-card__time">06:00 AM - 10:00 PM</time>
                    </p>

                    <p class="contact-card__day">Saturday - Sunday<br />
                        <time class="contact-card__time">08:00 AM - 16:00 PM</time>
                    </p>
                </li>

                <li class="contact-card__item">
                    <address class="contact-card__address">
                        <a class="contact-card__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        <a class="contact-card__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </address>
                </li>
            </ul>

        </li>
    </ul>

    <button class="contact__btn" type="button" data-modal-open>Our Locations</button>

    <button class="contact__btn" type="button" data-modal-open>Franchise</button>

</section>