<section class="customer-reviews container" id="aboutus">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="slide-reviews">
        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/konstantin-kiselov.png" alt="Клиент1">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">This is a very tasty project. When the customer pays me money for the work done, I will pay out the salary to my team with ice cream, because they love it as much as I do.</p>
            </div>
        </div>

        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/liydmila-romanchenko.png" alt="Клиент2">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">I really love ice cream and as a child I dreamed of having my own factory for the production of this sweet. I grew up, I don't have a factory, but I have this wonderful project.</p>
            </div>  
        </div>

        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/aleksei-kulikov.png" alt="Клиент3">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">When it's hot outside - I eat ice cream, when it's raining outside - I eat ice cream, when it's cold outside - I eat ice cream. In any unclear situation, eat ice cream.</p>
            </div>
        </div>  

        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/dmytro-kozhushko.png" alt="Клиент4">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">Ice cream for me is more than a delicious dessert. It is an aesthetic pleasure and a work of art. I recommend to all
                popsicle on a stick - a classic of the genre.</p>
            </div>
        </div>
        
        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/dmytro-tilug.png" alt="Клиент5">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">When I sit down to write the code and for some reason the feature does not work, I go to the store and buy ice cream and
                after I have eaten the ice cream, the work goes like clockwork.</p>
            </div>
        </div>
        
        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/marina-standriichuk.png"  alt="Клиент6">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">Without a doubt, ice cream is one of the most delicious desserts on the planet. Just be careful when savoring this
                sweetness, take care of your throat and everything will be fine.</p>
            </div>
        </div>

        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/olha-tarasova.png" alt="Клиент7">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">My friends and I often gossip and eat ice cream in the park. Sometimes such meetings smoothly flow into get-togethers in
                a cafe with a glass of wine. Oh, this is ice cream!</p>
            </div>
        </div>
        
        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/olya-pryanishnikova.png" alt="Клиент8">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">I love popsicles, and I also love chocolate and butter ice cream. Yes, I just adore this dessert for its delicate taste,
                what else can I add here. It's just delicious.</p>
            </div>
        </div>
        
        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/roman-medvedkin.png" alt="Клиент9">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">As a child, I loved washing dishes and cleaning my room, but only if I get delicious sweet ice cream as a reward for
                this backbreaking work.</p>
            </div>
        </div>

        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/sergii-grishanenko.png" alt="Клиент10">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">My ideal evening after training in the gym is a bucket of ice cream, my ginger cat is next to me and 4 hours of video
                tutorials by Alexander Repeta.</p>
            </div>
        </div>
        
        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/valerii-kurochka.png" alt="Клиент11">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">Many people think that real men eat exclusively meat, but I want to destroy this myth. Real men love sweet ice cream.
                Lots of sweet ice cream.</p>
            </div>
        </div>
                    
    </div>
    

    <div class="slide-customer">
        <div class="slide-customer__name">
            Konstantin Kiselov, Zaporizhzhia
        </div>
        <div class="slide-customer__name">
            Liydmila Romanchenko, Dnipro
        </div>
        <div class="slide-customer__name">
            Aleksei Kulikov, Nikolaev
        </div>
        <div class="slide-customer__name">
            Dmytro Kozhushko, Kyiv
        </div>
        <div class="slide-customer__name">
            Dmytro Tilug, Kyiv
        </div>
        <div class="slide-customer__name">
            Marina Standriichuk, Kyiv
        </div>
        <div class="slide-customer__name">
            Olha Tarasova, Kyiv
        </div>
        <div class="slide-customer__name">
            Olya Pryanishnikova, Kyiv
        </div>
        <div class="slide-customer__name">
            Roman Medvedkin, Kyiv
        </div>
        <div class="slide-customer__name">
            Sergii Grishanenko, Kyiv
        </div>
        <div class="slide-customer__name">
            Valerii Kurochka, Kyiv
        </div>
        
    </div>
</section>