<section class="customer-reviews container">
    <div class="slide-reviews">
        <div class="slide-reviews__item">
            <picture>
                <source
                    srcset="./images/desktop/reviews/webp/reviews-1.webp 1x, ./images/desktop/reviews/webp/reviews-1@2x.webp 2x"
                    type="image/webp">
                <source 
                    srcset="./images/desktop/reviews/reviews-1.png 1x, ./images/desktop/reviews/reviews-1@2x.png 2x">
                    <img class="slide-reviews__photo" src="./images/desktop/reviews/reviews-1.png" alt="Клиент1">
            </picture>
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>

        <div class="slide-reviews__item">
            <picture>
                <source
                    srcset="./images/desktop/reviews/webp/reviews-2.webp 1x, ./images/desktop/reviews/webp/reviews-2@2x.webp 2x"
                    type="image/webp">
                <source 
                    srcset="./images/desktop/reviews/reviews-2.png 1x, ./images/desktop/reviews/reviews-2@2x.png 2x">
                    <img class="slide-reviews__photo" src="./images/desktop/reviews/reviews-2.png" alt="Клиент2">
            </picture>
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>  
        </div>

        <div class="slide-reviews__item">
            <picture>
                <source
                    srcset="./images/desktop/reviews/webp/reviews-3.webp 1x, ./images/desktop/reviews/webp/reviews-3@2x.webp 2x"
                    type="image/webp">
                <source 
                    srcset="./images/desktop/reviews/reviews-3.png 1x, ./images/desktop/reviews/reviews-3@2x.png 2x">
                    <img class="slide-reviews__photo" src="./images/desktop/reviews/reviews-3.png" alt="Клиент3">
            </picture>
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>              
    </div>
    

    <div class="slide-customer">
        <div class="slide-customer__name">
            Emily, Los Angeles
        </div>
        <div class="slide-customer__name">
            Linda, New York
            
        </div>
        <div class="slide-customer__name">
            Anna, Kyiv
            
        </div>
    </div>
</section>