<section class="customer-reviews container">
    <div class="slide-reviews">
        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/konstantin-kiselov.png" alt="Клиент1">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>

        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/liydmila-romanchenko.png" alt="Клиент2">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>  
        </div>

        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/aleksei-kulikov.png" alt="Клиент3">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>  

        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/dmytro-kozhushko.png" alt="Клиент4">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                    In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>
        
        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/dmytro-tilug.png" alt="Клиент5">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                    In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>
        
        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/marina-standriichuk.png"  alt="Клиент6">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                    In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>

        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/olha-tarasova.png" alt="Клиент7">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                    In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>
        
        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/olya-pryanishnikova.png" alt="Клиент8">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                    In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>
        
        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/roman-medvedkin.png" alt="Клиент9">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                    In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>

        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/sergii-grishanenko.png" alt="Клиент10">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                    In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>
        
        <div class="slide-reviews__item">
            <img class="slide-reviews__photo" src="./images/our-team/valerii-kurochka.png" alt="Клиент11">
            <div class="slide-reviews__thumb">
                <p class="slide-reviews__descrip">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                    In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>
                    
    </div>
    

    <div class="slide-customer">
        <div class="slide-customer__name">
            Konstantin Kiselov, Zaporizhzhia
        </div>
        <div class="slide-customer__name">
            Liydmila Romanchenko, Dnipro
        </div>
        <div class="slide-customer__name">
            Aleksei Kulikov, Nikolaev
        </div>
        <div class="slide-customer__name">
            Dmytro Kozhushko, Kyiv
        </div>
        <div class="slide-customer__name">
            Dmytro Tilug, Kyiv
        </div>
        <div class="slide-customer__name">
            Marina Standriichuk, Kyiv
        </div>
        <div class="slide-customer__name">
            Olha Tarasova, Kyiv
        </div>
        <div class="slide-customer__name">
            Olya Pryanishnikova, Kyiv
        </div>
        <div class="slide-customer__name">
            Roman Medvedkin
        </div>
        <div class="slide-customer__name">
            Sergii Grishanenko, Kyiv
        </div>
        <div class="slide-customer__name">
            Valerii Kurochka, Kyiv
        </div>
        
    </div>
</section>