    <footer class="footer">
        <div class="footer__box container">
            <div class="footer-title__container">
             <div class="footer__title animate__bounceInLeft">homemade ice cream made</div>
             <div class="footer__text animate__bounceInLeft">with<span> passion</span></div>
            </div> 
           
         <div class="footer__contact">
           <ul class="footer__list list">
               <li class="footer__item">
                <a href="https://github.com/" target="_blank" rel="noreferrer noopener"
                 class="footer__link link">
                    <svg class="footer__icon" width="20" height="20">
                        <use href="./images/sprite.svg#github1"></use>
                    </svg>
                </a>
               </li>
               <li class="footer__item">
                <a href="https://web.telegram.org/" target="_blank" rel="noreferrer noopener"
                 class="footer__link link">
                    <svg class="footer__icon" width="22" height="16">
                        <use href="./images/sprite.svg#telegram1"></use>
                    </svg>
                </a>
               </li>
               <li class="footer__item">
                <a href="https://www.facebook.com/" target="_blank" rel="noreferrer noopener"
                 class="footer__link link">
                    <svg class="footer__icon" width="10" height="20">
                        <use href="./images/sprite.svg#facebook1"></use>
                    </svg>
                </a>
               </li>
           </ul> 
           <address class="footer__tel animate__backInRight"> Feel free to contact 
             <a class="footer__tel-link link" href="tel:+610383766284">
              +61 (0) 383 766 284 </a> </address>
          </div>   
        </div> 
        <div class="footer__info">
           <p class="footer__info-text">© 2021 - IceCream. All Rights Reserved.</p>
        </div>
    
    </footer>

    <!-- Скрипт идёт последним в разметке. В нём уже подключен главный SASS-файл. -->
    <script src="./index.js"></script>
  </body>
</html>