<section class="gallery">
  <div class="gallery__wrapper">
    <h2 class="gallery__title visually-hidden">Gallery</h2>
    <ul class="gallery__list list">
      <li class="gallery__item">

        <picture class="gallery__pic">
          <source class="gallery__img" srcset="./images/gallery/webp/pic1.webp 1x, ./images/gallery/webp/pic1@2x.webp 2x" type="image/webp">
          <source class="gallery__img" srcset="./images/gallery/pic1.jpg 1x, ./images/gallery/pic1@2x.jpg 2x">
          <img class="gallery__img animate__fadeInLeftBig" src="./images/gallery/pic1.jpg" alt="Picture 1" width="138" height="138">
        </picture>
      </li>

      <li class="gallery__item gallery__item--two">
        <picture class="gallery__pic">
          <source class="gallery__img" srcset="./images/gallery/webp/pic2.webp 1x, ./images/gallery/webp/pic2@2x.webp 2x" type="image/webp">
          <source class="gallery__img" srcset="./images/gallery/pic2.jpg 1x, ./images/gallery/pic2@2x.jpg 2x">
          <img class="gallery__img animate__bounceInLeft" src="./images/gallery/pic2.jpg" alt="Picture 2" width="138" height="138">
        </picture>
      
        <picture class="gallery__pic">
          <source class="gallery__img" srcset="./images/gallery/webp/pic3.webp 1x, ./images/gallery/webp/pic3@2x.webp 2x" type="image/webp">
          <source class="gallery__img" srcset="./images/gallery/pic3.jpg 1x, ./images/gallery/pic3@2x.jpg 2x">
          <img class="gallery__img animate__bounceInLeft" src="./images/gallery/pic3.jpg" alt="Picture 3" width="138" height="138">
        </picture>
      
      <li class="gallery__item">
        <picture class="gallery__pic">
          <source class="gallery__img" srcset="./images/gallery/webp/pic4.webp 1x, ./images/gallery/webp/pic4@2x.webp 2x" type="image/webp">
          <source class="gallery__img" srcset="./images/gallery/pic4.jpg 1x, ./images/gallery/pic4@2x.jpg 2x">
          <img class="gallery__img animate__fadeInTopLeft" src="./images/gallery/pic4.jpg" alt="Picture 4" width="238" height="238">
        </picture>
      
          <picture class="gallery__pic">
          <source class="gallery__img" srcset="./images/gallery/webp/pic5.webp 1x, ./images/gallery/webp/pic5@2x.webp 2x" type="image/webp">
          <source class="gallery__img" srcset="./images/gallery/pic5.jpg 1x, ./images/gallery/pic5@2x.jpg 2x">
          <img class="gallery__img gallery__img--five animate__fadeInBottomLeft" src="./images/gallery/pic5.jpg" alt="Picture 5" width="138" height="138">
        </picture>

      <li class="gallery__item gallery__item--four">
        <picture class="gallery__pic">
          <source class="gallery__img" srcset="./images/gallery/webp/pic6.webp 1x, ./images/gallery/webp/pic6@2x.webp 2x" type="image/webp">
          <source class="gallery__img" srcset="./images/gallery/pic6.jpg 1x, ./images/gallery/pic6@2x.jpg 2x">
          <img class="gallery__img animate__fadeInTopRight" src="./images/gallery/pic6.jpg" alt="Picture 6" width="138" height="138">
        </picture>

        <picture class="gallery__pic">
          <source class="gallery__img" srcset="./images/gallery/webp/pic7.webp 1x, ./images/gallery/webp/pic7@2x.webp 2x" type="image/webp">
          <source class="gallery__img" srcset="./images/gallery/pic7.jpg 1x, ./images/gallery/pic7@2x.jpg 2x">
          <img class="gallery__img animate__fadeInBottomRight" src="./images/gallery/pic7.jpg" alt="Picture 7" width="138" height="138">
        </picture>
      
      <li class="gallery__item">

        <picture class="gallery__pic">
          <source class="gallery__img" srcset="./images/gallery/webp/pic8.webp 1x, ./images/gallery/webp/pic8@2x.webp 2x" type="image/webp">
          <source class="gallery__img" srcset="./images/gallery/pic8.jpg 1x, ./images/gallery/pic8@2x.jpg 2x">
          <img class="gallery__img animate__bounceInRight" src="./images/gallery/pic8.jpg" alt="Picture 8" width="138" height="138">
        </picture>

        <picture class="gallery__pic">
          <source class="gallery__img" srcset="./images/gallery/webp/pic9.webp 1x, ./images/gallery/webp/pic9@2x.webp 2x" type="image/webp">
          <source class="gallery__img" srcset="./images/gallery/pic9.jpg 1x, ./images/gallery/pic9@2x.jpg 2x">
          <img class="gallery__img animate__bounceInRight" src="./images/gallery/pic9.jpg" alt="Picture 9" width="138" height="138">
        </picture>
      </li>

      <li class="gallery__item gallery__item--six">
        <picture class="gallery__pic">
          <source class="gallery__img" srcset="./images/gallery/webp/pic10.webp 1x, ./images/gallery/webp/pic10@2x.webp 2x" type="image/webp">
          <source class="gallery__img" srcset="./images/gallery/pic10.jpg 1x, ./images/gallery/pic10@2x.jpg 2x">
          <img class="gallery__img animate__fadeInRightBig" src="./images/gallery/pic10.jpg" alt="Picture 10" width="138" height="138">
        </picture>

    </ul>
  </div>
</section>

