<section class="gallery">
  <div class="gallery__wrapper container">
    <h2 class="gallery__title visually-hidden">Gallery</h2>
    <!-- <picture class="gallery__pic">
      <source
      srcset="./images/desktop/gallery/webp/gallery.webp 1x, ./images/desktop/gallery/webp/gallery@2x.webp 2x"
      media="(min-width: 1280px)" type="image/webp">
      <source
      srcset="./images/desktop/gallery/gallery.png 1x, ./images/desktop/gallery/gallery@2x.png 2x"
       media="(min-width: 1280px)">

      <source
        srcset="./images/tablet/gallery/webp/gallery.webp 1x, ./images/tablet/gallery/webp/gallery@2x.webp 2x"
        media="(min-width: 768px)" type="image/webp">
      <source
        srcset="./images/tablet/gallery/gallery.png 1x, ./images/tablet/gallery/gallery@2x.png 2x"
        media="(min-width: 768px)">

      <source
        srcset="./images/mobile/gallery/webp/gallery.webp 1x, ./images/mobile/gallery/webp/gallery@2x.webp 2x"
        media="(min-width: 480px)" type="image/webp">
      <source
        srcset="./images/mobile/gallery/gallery.png 1x, ./images/mobile/gallery/gallery@2x.png 2x"
        media="(min-width: 480px)">

        <img class="gallery__img animate__heartBeat" src="./images/mobile/about/about-1.png" alt="gallery of ice-cream and clients">
    </picture> -->
  
    <ul class="gallery__list list">
      <li class="gallery__item">
        <img class="gallery__img" src="./images/gallery-img/desktop/icecream1.png" alt="" width="138" height="138">
      </li>
      <li class="gallery__item">
        <img class="gallery__img" src="./images/gallery-img/desktop/icecream2.png" alt="" width="138" height="138">
        <img class="gallery__img" src="./images/gallery-img/desktop/icecream3.png" alt="" width="138" height="138">
      </li>
      <li class="gallery__item">
        <img class="gallery__img" src="./images/gallery-img/desktop/icecream4.png" alt="" width="238" height="238">
        <img class="gallery__img" src="./images/gallery-img/desktop/icecream5.png" alt="" width="138" height="138">
      </li>
      <li class="gallery__item gallery__item--four">
        <img class="gallery__img" src="./images/gallery-img/desktop/icecream6.png" alt="" width="138" height="138">
        <img class="gallery__img" src="./images/gallery-img/desktop/icecream7.png" alt="" width="138" height="138">
      </li>
      <li class="gallery__item">
        <img class="gallery__img" src="./images/gallery-img/desktop/icecream8.png" alt="" width="138" height="138">
        <img class="gallery__img" src="./images/gallery-img/desktop/icecream9.png" alt="" width="138" height="138">
      </li>
      <li class="gallery__item">
        <img class="gallery__img" src="./images/gallery-img/desktop/icecream10.png" alt="" width="138" height="138">
      </li>
    </ul>
  </div>
</section>

