<header class="header">
  <div class="header__wripper container">
    <div class="header__container">
      <div class="header-logo">
        <a href="#" class="header-logo__link">
          <img src="" alt="" />
        </a>
      </div>
      <nav class="navigation">
        <ul class="navigation__list list">
          <li class="navigation__item">
            <a href="#" class="navigation__link link accent">Home</a>
          </li>
          <li class="navigation__item">
            <a href="#aboutus" class="navigation__link link">About us</a>
          </li>
          <li class="navigation__item">
            <a href="#howitsmade" class="navigation__link link">How it’s made?</a>
          </li>
          <li class="navigation__item">
            <a href="#ourproducts" class="navigation__link link">Our products</a>
          </li>
          <li class="navigation__item">
            <a href="#contact" class="navigation__link link">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="burger">
        <button class="burger__btn" type="button">
          <svg class="burger__svg" width="20" height="14">
            <use href="./images/sprite.svg#burger"></use>
          </svg>
        </button>
      </div>
      <div>
        <button class="header__button"></button>
      </div>
    </div>
  </div>
</header>
