<section class="hero hero-section" id="sitehero">
  <div class="container">
    <!--Херо тайтл-->
    <div class="hero__top">
      <h1 class="hero__title">
        ice cream made with
        <span>passion</span>
      </h1>

      <!--Список кафе и машин-->
      <div class="hero__numbers">
        <ul class="hero__numbers-list list">
          <li class="hero__numbers-item">
            <span class="hero__numbers-text">16</span>
            <span class="hero__numbers-title">cafes</span>
          </li>

          <li class="hero__numbers-item">
            <span class="hero__numbers-text">23</span>
            <span class="hero__numbers-title">food trucks</span>
          </li>
        </ul>
      </div>
    </div>

    <!--Две кнопки-->
    <div class="hero__buttons">
      <ul class="hero__buttons-list list">
        <li class="hero__buttons-item">
          <a href="https://www.w3docs.com/" class="hero__btn">Products</a>
        </li>

        <li>
          <a href="https://www.w3docs.com/" class="hero__btn2">How it’s made?</a>
        </li>
      </ul>
    </div>

    <!--Hero center and ice cream image-->
    <div class="hero__circle"></div>
    <div class="hero__icecream">
      <picture>
        <source
          srcset="
            ./images/desktop/header/webp/header-1.webp    1x,
            ./images/desktop/header/webp/header-1@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/desktop/header/header-1.png    1x,
            ./images/desktop/header/header-1@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/tablet/header/webp/header-1.webp    1x,
            ./images/tablet/header/webp/header-1@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="./images/tablet/header/header-1.png 1x, ./images/tablet/header/header-1@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/header/webp/header-1.webp    1x,
            ./images/mobile/header/webp/header-1@2x.webp 2x
          "
          media="(max-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="./images/mobile/header/header-1.png 1x, ./images/mobile/header/header-1@2x.png 2x"
          media="(max-width: 768px)"
        />
        <img src="./images/tablet/header/header-1.png" alt="Ice cream central photo" />
      </picture>
    </div>

    <!--Hero text and round link-->
    <div class="hero__text">
      <ul class="hero__text-list list">
        <li class="hero__text-item">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
        </li>
        <li class="hero__text-item">img arrow right</li>
      </ul>
    </div>

    <!--Hero bottom images-->
    <div class="hero__images">
      <ul class="hero__images-list list">
        <li class="hero__images-item">Milk img</li>
        <li class="hero__images-item">Soooo Tasty img</li>
      </ul>
    </div>
  </div>
</section>
<p id="products"></p>
