<section class="hero">
  <div class="container">
    <!--Херо тайтл-->
    <div class="hero__top">
      <h1 class="hero__title">
        ice cream made with
        <span>passion</span>
      </h1>

      <!--Список кафе и машин-->
      <div class="hero__numbers">
        <ul class="hero__numbers-list list">
          <li class="hero__numbers-item">
            <span class="hero__numbers-text">16</span>
            <span class="hero__numbers-title">cafes</span>
          </li>

          <li class="hero__numbers-item">
            <span class="hero__numbers-text">23</span>
            <span class="hero__numbers-title">food trucks</span>
          </li>
        </ul>
      </div>
    </div>

    <!--Две кнопки-->
    <div class="hero__buttons">
      <ul class="hero__buttons-list list">
        <li class="hero__buttons-item">
          <button class="hero__btn" type="button">Products</button>
        </li>

        <li>
          <button class="hero__btn2" type="button">How it’s made?</button>
        </li>
      </ul>
    </div>

    <!--Hero center and ice cream image-->
    <div class="hero__circle"></div>
    <div class="hero__icecream">img ice-cream-cone</div>

    <!--Hero text and round link-->
    <div class="hero__text">
      <ul class="hero__text-list list">
        <li class="hero__text-item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </li>
        <li class="hero__text-item">img arrow right</li>
      </ul>
    </div>

    <!--Hero bottom images-->
    <div class="hero__images">
      <ul class="hero__images-list list">
        <li class="hero__images-item">Milk img</li>
        <li class="hero__images-item">Soooo Tasty img</li>
      </ul>
    </div>
  </div>
</section>
