<section class="hero" id="home">
  <div class="container">
    <!--Херо тайтл-->
    <div class="hero__top">
      <h1 class="hero__title">
        ice cream made with
        <span>passion</span>
      </h1>

      <!--Список кафе и машин-->
      <div class="hero__numbers">
        <ul class="hero__cafes-list list">
          <li class="hero__cafes-item">
            <p class="hero__cafes-text">16</p>
          </li>

          <li class="hero__cafes-item">
            <p class="hero__cafes-desc">cafes</p>
          </li>
        </ul>

        <ul class="hero__trucks-list list">
          <li class="hero__trucks-item">
            <p class="hero__trucks-text">23</p>
          </li>

          <li class="hero__trucks-item">
            <p class="hero__trucks-desc">food trucks</p>
          </li>
        </ul>
      </div>
    </div>

    <!--Две кнопки-->
    <div class="hero__buttons">
      <ul class="hero__buttons-list list">
        <li class="hero__buttons-item animate__swing">
          <a href="#ourproducts" class="hero__btn">Products</a>
        </li>

        <li class="hero__buttons-item animate__swing">

          <a href="#aboutus" class="hero__btn2">How it’s made?</a>
        </li>
      </ul>
    </div>

    <!--Hero center and ice cream image-->
    <div class="hero__circle"></div>
    <div class="hero__icecream animate__tada">
      <picture>
        <source
          srcset="
            ./images/desktop/header/webp/header-1.webp    1x,
            ./images/desktop/header/webp/header-1@2x.webp 2x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/desktop/header/header-1.png    1x,
            ./images/desktop/header/header-1@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tablet/header/webp/header-1.webp    1x,
            ./images/tablet/header/webp/header-1@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="./images/tablet/header/header-1.png 1x, ./images/tablet/header/header-1@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/header/webp/header-1.webp    1x,
            ./images/mobile/header/webp/header-1@2x.webp 2x
          "
          media="(max-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="./images/mobile/header/header-1.png 1x, ./images/mobile/header/header-1@2x.png 2x"
          media="(max-width: 768px)"
        />
        <img src="./images/tablet/header/header-1.png" alt="Ice cream central photo" />
      </picture>
    </div>

    <!--Hero text and round link-->
    <div class="hero__text">
      <p class="hero__text-core">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="hero__text-btn animate__swing" type="button"></button>
    </div>

    <!--Hero bottom images-->
    <div class="hero__milk">
      <picture>
        <source
          srcset="
            ./images/desktop/header/webp/header-3.webp    1x,
            ./images/desktop/header/webp/header-3@2x.webp 2x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/desktop/header/header-3.png    1x,
            ./images/desktop/header/header-3@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tablet/header/webp/header-3.webp    1x,
            ./images/tablet/header/webp/header-3@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="./images/tablet/header/header-3.png 1x, ./images/tablet/header/header-3@2x.png 2x"
          media="(min-width: 768px)"
        />
        <img src="./images/tablet/header/header-3.png" alt="Fresh milk photo" />
      </picture>
    </div>
    <div class="hero__girl">
      <picture>
        <source
          srcset="
            ./images/desktop/header/webp/header-2.webp    1x,
            ./images/desktop/header/webp/header-2@2x.webp 2x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/desktop/header/header-2.png    1x,
            ./images/desktop/header/header-2@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tablet/header/webp/header-2.webp    1x,
            ./images/tablet/header/webp/header-2@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="./images/tablet/header/header-2.png 1x, ./images/tablet/header/header-2@2x.png 2x"
          media="(min-width: 768px)"
        />
        <img src="./images/tablet/header/header-2.png" alt="Pretty girl with our ice cream" />
      </picture>
    </div>
  </div>
</section>
