<div class="mobile-menu" data-menu> 
    <button type="button" class="mobile-menu__close-btn" data-menu-close>
        <svg class="mobile-menu__close-icon">
            <use href="./images/sprite.svg#close"></use>   
        </svg>
    </button>

    <button class="btn__mobile-menu" data-modal-open>Buy now</button>
    <!-- <button  type="button" class="mobile-menu__btn" data-modal-open> 
        <span class="mobile-menu__btn-text">Buy now</span> 
        <svg class="mobile-menu__btn-icon" width="20" height="30">
            <use href="./images/sprite.svg#arrow"></use>
        </svg> 
    </button> -->

        <ul class="mobile-menu__list list">
            <li class="mobile-menu__item list"> <a class="mobile-menu__link link" href="./index.html">Home</a> </li>
            <li class="mobile-menu__item list"> <a class="mobile-menu__link link" href="#aboutus">About us</a> </li>
            <li class="mobile-menu__item list"> <a class="mobile-menu__link link" href="#how-made">How it's made?</a> </li>
            <li class="mobile-menu__item list"> <a class="mobile-menu__link link" href="#our-products">Our products</a> </li>
            <li class="mobile-menu__item list"> <a class="mobile-menu__link link" href="#contact">Contact</a> </li>
        </ul>
</div>

