<div class="mobile-menu" data-menu> 
    <button type="button" class="mobile-menu__close-btn" data-menu-close>
        <svg class="mobile-menu__close-icon">
            <use href="./images/sprite.svg#close"></use>   
        </svg>
    </button>

    <button class="btn__mobile-menu" data-modal-open2>Buy now</button>

        <ul class="mobile-menu__list list">
            <li class="mobile-menu__item list"> <a class="mobile-menu__link link" href="#home" data-menu-close1>Home</a> </li>
            <li class="mobile-menu__item list"> <a class="mobile-menu__link link" href="#aboutus" data-menu-close2>About us</a> </li>
            <li class="mobile-menu__item list"> <a class="mobile-menu__link link" href="#howitsmade" data-menu-close3>How it's made?</a> </li>
            <li class="mobile-menu__item list"> <a class="mobile-menu__link link" href="#ourproducts" data-menu-close4>Our products</a> </li>
            <li class="mobile-menu__item list"> <a class="mobile-menu__link link" href="#contacts" data-menu-close5>Contact</a> </li>
        </ul>
</div>

