<!-- buy now -->
<div class="backdrop backdrop-is-hidden" data-modal>
    <div class="modal">
        <button class="btn-modal" data-modal-close>
            <svg class="btn-modal__icon" width="18" height="18">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <p class="modal__text">Leave your details, we will call you back</p>
        <form action="#" class="form-modal">
            <label class="form-modal__label">Name
                <span class="form-modal__field">
                    <input class="form-modal__input" type="text" name="name" autocomplete="off">
                    <svg class="form-modal__icon" width="18" height="18">
                        <use href="./images/sprite.svg#person-black"></use>
                    </svg>
                </span>
            </label>
            <label class="form-modal__label">Telephone
                <span class="form-modal__field">
                    <input class="form-modal__input" type="tel" name="tel" autocomplete="off">
                    <svg class="form-modal__icon" width="18" height="18">
                        <use href="./images/sprite.svg#phone-black"></use>
                    </svg>
                </span>
            </label>
            <label class="form-modal__label">Email address
                <span class="form-modal__field">
                    <input class="form-modal__input" type="email" name="email" autocomplete="off">
                    <svg class="form-modal__icon" width="18" height="18">
                        <use href="./images/sprite.svg#email-black"></use>
                    </svg>
                </span>
            </label>
            <label class="form-modal__label form-modal__comment">Comment
                <textarea class="form-modal__textarea" name="comment" id="comment"
                    placeholder="Enter text"></textarea>
            </label>

            <label class="checkbox">
                <input class="checkbox__input visually-hidden" type="checkbox" name="policy">
                <span class="checkbox__icon"></span>
                I agree to the newsletter and accept&nbsp;<a href="" class="checkbox__agreement">Agreement conditions</a>
            </label>
            <button type="submit" class="btn__mobile-menu">Send</button>
        </form>
    </div>
</div>


<!-- about -->
<div class="backdrop backdrop-is-hidden" data-modal-about>
    <div class="modal-about">
        <button class="btn-modal" data-modal-about-close>
            <svg class="btn-modal__icon" width="18" height="18">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <p class="modal-about__text">How it`s made</p>
        <picture aria-label="milk and cow">
            <source srcset="
                      ./images/desktop/about/webp/about-1.webp    1x,
                      ./images/desktop/about/webp/about-1@2x.webp 2x
                    " media="(min-width: 1200px)" type="image/webp" />
            <source srcset="./images/desktop/about/about-1.png 1x, ./images/desktop/about/about-1@2x.png 2x"
                media="(min-width: 1200px)" />
            <source srcset="
                      ./images/tablet/about/webp/about-1.webp    1x,
                      ./images/tablet/about/webp/about-1@2x.webp 2x
                    " media="(min-width: 768px)" type="image/webp" />
            <source srcset="./images/tablet/about/about-1.png 1x, ./images/tablet/about/about-1@2x.png 2x"
                media="(min-width: 768px)" />
            <source srcset="
                      ./images/mobile/about/webp/about-1.webp    1x,
                      ./images/mobile/about/webp/about-1@2x.webp 2x
                    " media="(max-width: 768px)" type="image/webp" />
            <source srcset="./images/mobile/about/about-1.png 1x, ./images/mobile/about/about-1@2x.png 2x"
                media="(max-width: 768px)" />
            <img class="photo-cow" src="./images/desktop/about/about-1.png" alt="milk and cow" />
        </picture>
        <p class="modal-about__text-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis similique praesentium amet fugiat cumque, voluptate delectus blanditiis odit at ea magnam repellat totam incidunt veniam quas accusantium! Labore hic iusto consequuntur illo tempore, culpa ullam quas cumque deleniti ea ratione fugiat eaque aspernatur soluta dolore quis debitis animi laudantium quibusdam sed quos laboriosam! Deserunt saepe nostrum atque. Dolorum sit blanditiis reiciendis modi sunt voluptas eius, laboriosam quibusdam quos laudantium perspiciatis molestiae at neque nobis aspernatur corrupti ullam porro libero! Consequatur rerum sunt praesentium facere totam suscipit amet id dolor cumque distinctio nostrum aliquid magnam, deleniti accusantium culpa. Odit, blanditiis doloremque!</p>
    </div>
</div>


<script src="./modal.js"></script>
