<div class="backdrop backdrop-is-hidden" data-modal>
    <div class="modal">
        <button class="btn-modal" data-modal-close>
            <svg class="btn-modal__icon" width="18" height="18">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <p class="modal__text">Leave your details, we will call you back</p>
        <form action="#" class="form-modal">
            <label class="form-modal__label">Name
                <span class="form-modal__field">
                    <input class="form-modal__input" type="text" name="name" autocomplete="off">
                    <svg class="form-modal__icon" width="18" height="18">
                        <use href="./images/sprite.svg#person-black"></use>
                    </svg>
                </span>
            </label>
            <label class="form-modal__label">Telephone
                <span class="form-modal__field">
                    <input class="form-modal__input" type="tel" name="tel" autocomplete="off">
                    <svg class="form-modal__icon" width="18" height="18">
                        <use href="./images/sprite.svg#phone-black"></use>
                    </svg>
                </span>
            </label>
            <label class="form-modal__label">Email address
                <span class="form-modal__field">
                    <input class="form-modal__input" type="email" name="email" autocomplete="off">
                    <svg class="form-modal__icon" width="18" height="18">
                        <use href="./images/sprite.svg#email-black"></use>
                    </svg>
                </span>
            </label>
            <label class="form-modal__label form-modal__comment">Comment
                <textarea class="form-modal__textarea" name="comment" id="comment"
                    placeholder="Enter text"></textarea>
            </label>

            <label class="checkbox">
                <input class="checkbox__input visually-hidden" type="checkbox" name="policy">
                <span class="checkbox__icon"></span>
                I agree to the newsletter and accept&nbsp;<a href="" class="checkbox__agreement">Agreement conditions</a>
            </label>
            <button type="submit" class="mobile-menu__btn btn-modal-send">Send</button>
        </form>
    </div>
</div>



<script src="./modal.js"></script>
