<section id="ourproducts" class="product">
  <div class="container">
    <p class="product__leabel">100% natural</p>
    <h1 class="product__heading">products</h1>
    <ul class="product__list list">
      <li class="product__item">
        <div class="product__box">
          <h2 class="product__box-heading">ice cream</h2>
          <p class="product__box-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <a href="" class="product__link link">
            <img src="images/desktop/products/products-4.png" alt="" />
          </a>
        </div>
      </li>
      <li class="product__item">
        <div class="product__box">
          <h2 class="product__box-heading">ice coffee</h2>
          <p class="product__box-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <a href="" class="product__link link">
            <img src="images/desktop/products/products-4.png" alt="" />
          </a>
        </div>
      </li>
      <li class="product__item">
        <div class="product__box">
          <h2 class="product__box-heading">milkshakes</h2>
          <p class="product__box-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <a href="" class="product__link link">
            <img src="images/desktop/products/products-4.png" alt="" />
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
