.footer {
  background-color: var(--secondary-bg-color);
  padding-bottom: 20px;
}

.footer__box {
  display: flex;
  flex-direction: column;
  padding-bottom: 43px;
}

.footer-title__container {
  padding-bottom: 43px;
 }

.footer__title {
  font-family: var(--secondary-font);
  margin-bottom: 17px;
  max-width: 234px;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: .04em;
  text-transform: uppercase;

  color: var(--title-secondary-color);

  animation-duration: 1000ms;
}

.footer__text {
  display: flex;
  flex-direction: column;
  font-family: var(--secondary-font);
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: .04em;
  text-transform: uppercase;

  color: var(--title-main-color);

   animation-duration: 1700ms;
}

.footer__contact {
  display: flex;
  flex-direction: column;
}

.footer__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-left: auto;

}

.footer__contact ul li:not(:last-child) {
  margin-right: 28px;
}

.footer__link {
  border-radius: 50%;
  background: var(--footer-icons-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  transition: background-color 250ms linear; 

  &:hover,
  &:focus {
   background-color: var(--title-main-color);
   color: var(--base-color-light);
 }
}

.footer__icon {
  fill: var(--base-color-light);
}

.footer__tel {
  margin-top: 46px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  letter-spacing: .02em;
  color: var(--base-color-dark);
  font-size: 12px;
  text-align: right;

  animation-duration: 1000ms;
}

.footer__tel-link {
  text-align: right;
  color: var(--title-main-color);
}

.footer__info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 22px;
  align-items: center;
  border-top: 1px solid var(--reviews-quotes-color);
}

.footer__info-text {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 150px;

  color: var(--text-color);
}

/* tablet */
@media screen and (min-width: 768px) {

   .footer__box {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding-bottom: 91px;
   }

   .footer-title__container {
    padding-bottom: 0;
   }

   .footer__title {
    max-width: 340px;
    font-size: 26px;
    line-height: 1.153;
    margin-bottom: 23px;
   }
   
   .footer__text {
    font-size: 48px;
    line-height: 1.145;
    letter-spacing: .06em;
   }

   .footer__contact ul li:not(:last-child) {
    margin-right: 30px;
  } 

  .footer__link {
    width: 34px;
    height: 34px;
  }  

   .footer__tel {
      font-size: 14px;
   }

   .footer__info {
      padding-top: 29px;
   }

   .footer__info-text {
     font-size: 14px;
     line-height: 186%;
     min-width: 276px;
   }
}   

/* desktop */
@media screen and (min-width: 1280px) {
.footer {
  padding-bottom: 10px;
}

.footer__box {
    padding-bottom: 97px;
}

.footer-title__container {
    min-width: 474px;
}
  
.footer__title {
    font-size: 30px;
    line-height: 1.13;
    max-width: 474px;
    margin-bottom: 15px;
}

.footer__text {
    flex-direction: row;
    justify-content: space-between;
    font-size: 58px;
    line-height: 1.14;
    max-width: 474px;
}

.footer__contact ul li:not(:last-child) {
  margin-right: 24px;
}  

.footer__tel {
  margin-top: 55px;
  font-size: 16px;
}  

.footer__info {
  padding-top: 10px;
}
}