.footer {
  padding-top: 56px;
  background-color: #FFF5F6;
}

.footer__container {
  border-bottom: 1px solid grey;
    margin: 0 auto;
    padding-bottom: 43px;
    width: 100%;
    text-align: left;
}

.footer-title {
    margin-bottom: 17px;
    max-width: 234px;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: .04em;
    text-align: left;
    text-transform: uppercase;

  color: #FFA5BA;
}

.footer__text {
  margin-bottom: 17px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #D41443;
}

.footer-contact {
  display: flex;
  flex-direction: row;
  padding-bottom: 43px;
}

.footer__list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 230px;
  margin-left: auto;
  
}

.footer__item:not(:nth-last-child(-n+2)) {
  margin-right: 28px;
  margin-bottom: 46px;
}

.footer__link {
  display: block;
  content: "";
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fea5bb;
  background-repeat: no-repeat;
  background-position: 50%;

  
  &:hover,
  &:focus {
      background-color: #D41443;
      color: #FFF;
  }  
}

.footer__icon {
  fill: #fff;
}

.footer__tel {
  font-family: DM Sans;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    color: #000;
    text-align: right;
}

.footer__tel-link {
  text-align: right;
  color: #D41443;
  
}

.footer__info {
  display: flex;
  text-align: center;
}

.footer__info-max {
  display: none;
}

.footer__info-min {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  color: #907E82;

}


