.gallery {
  // background: linear-gradient(180deg, rgba(255, 245, 246, 1) 45%, rgba(255, 255, 255, 1) 40%);

  @media screen and (max-width: 767px) {
    padding-top: 97px;
    background: linear-gradient(180deg, rgba(255, 245, 246, 1) 48%, rgba(255, 255, 255, 1) 40%);
  }

  @media screen and (min-width: 768px) {
    padding-top: 140px;
    background: linear-gradient(180deg, rgba(255, 245, 246, 1) 47%, rgba(255, 255, 255, 1) 40%);
  }

  @media screen and (min-width: 1280px) {
    padding-top: 139px;
    background: linear-gradient(180deg, rgba(255, 245, 246, 1) 46%, rgba(255, 255, 255, 1) 40%);
  }
}

.gallery__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

// .gallery__img--five {
//   max-width: 138px;
//   max-height: 138px;
// }

.gallery__item--two {
  margin-top: 25px;
}

.gallery__item--four {
  margin-top: 60px;
}

.gallery__img {
  animation-duration: 1500ms;
}

.gallery__item--six {
  margin-top: 15px;
}

@media screen and (min-width: 320px) {
  .gallery__item:not(:last-child) {
    margin-right: 2px;
  }

  // .gallery__wrapper img:not(:last-child) {
  // margin-bottom: 2px;
  // }

  .gallery__img {
    margin-bottom: 2px;
  }

  .gallery__item--two {
    margin-top: 15px;
  }

  .gallery__item--four {
    margin-top: 30px;
  }

  .gallery__item--six {
    margin-top: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .gallery__item:not(:last-child) {
    margin-right: 4px;
  }

  .gallery__img {
    margin-bottom: 4px;
  }

  .gallery__item--two {
    margin-top: 25px;
  }

  .gallery__item--four {
    margin-top: 45px;
  }

  .gallery__item--six {
    margin-top: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery__item:not(:last-child) {
    margin-right: 7px;
  }

  // .gallery__pic:nth-child(even) {
  //   margin-bottom: 7px;
  // }

  .gallery__img {
    margin-bottom: 7px;
  }

  .gallery__item--two {
    margin-top: 25px;
  }

  .gallery__item--four {
    margin-top: 65px;
  }

  .gallery__item--six {
    margin-top: 15px;
  }
}

.gallery__img {
  transition: transform 250ms linear;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}
