.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--products-bg-color-1);
  overflow: hidden;
}

// ------------------------mobile----------------------
@media screen and (max-width: 767px) {
  .hero .container {
    position: relative;
    min-width: 320px;
    max-width: 480px;
    height: 502px;
    margin: 0 auto;
  }
}

.hero__top {
  display: flex;
  justify-content: space-between;
  padding-top: 192px;
}

.hero__title {
  width: 218px;
  z-index: 3;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--base-color-light);
  & span {
    font-size: 48px;
    line-height: 0.96;
    color: var(--title-main-color);
  }
}

.hero__buttons-list {
  position: absolute;
  display: flex;
  z-index: 6;
}

.hero__numbers {
  visibility: hidden;
}

.hero__btn {
  text-decoration: none;
  border: 0;
  z-index: 5;
  border-radius: 20px;
  background: var(--title-main-color);
  color: var(--base-color-light);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  min-width: 62px;
  padding: 7px 14px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  &:hover,
  &:focus {
    background: var(--reviews-small-dots-color);
  }
}

.hero__btn2 {
  border: 0;
  z-index: 4;
  border-radius: 20px;
  background: var(--base-color-light);
  color: var(--title-main-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  min-width: 82px;
  padding: 7px 14px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: 250ms linear;
  &:hover,
  &:focus {
    background-color: var(--btn-hover-color);
  }
}

.hero__buttons {
  margin-top: 19px;
}

.hero__buttons-item {
  margin-right: 8px;
  animation-duration: 1500ms;
}

.hero__circle {
  position: absolute;
  z-index: 1;
  left: 36px;
  top: 83px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background: var(--title-secondary-color);
}

.hero__icecream {
  position: absolute;
  z-index: 2;
  left: 117px;
  top: 92px;
  width: 171px;
  height: 410px;
}

.hero__text,
.hero__milk,
.hero__girl {
  visibility: hidden;
}

// ------------------------tablet----------------------
@media screen and (min-width: 768px) {
  .hero .container {
    position: relative;
    z-index: 1;
    min-width: 740px;
    height: 399px;
    padding-top: 94px;
  }

  .hero__top {
    padding: 0;
  }

  .hero__title {
    width: 162px;
    z-index: 3;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 22px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--base-color-light);
    & span {
      font-size: 34px;
      line-height: 0.91;
      color: var(--title-main-color);
    }
  }

  .hero__text,
  .hero__milk,
  .hero__girl,
  .hero__numbers {
    visibility: visible;
  }

  .hero__numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero__numbers-list {
    display: flex;
    flex-direction: column;
  }

  .hero__cafes-list {
    margin-bottom: 13px;
  }

  .hero__cafes-item,
  .hero__trucks-item {
    position: relative;
    z-index: 2;
  }

  .hero__cafes-text,
  .hero__trucks-text {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 28px;
    line-height: 1.15;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--title-main-color);
  }

  .hero__cafes-desc,
  .hero__trucks-desc {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: var(--base-color-light);
  }

  .hero__cafes-text::before,
  .hero__trucks-text::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    top: -3px;
    right: -6px;
    border-radius: 20px;
    background-color: var(--base-color-light);
    z-index: -1;
  }

  .hero__buttons {
    margin-top: 12px;
  }

  .hero__circle {
    position: absolute;
    z-index: 1;
    left: 307px;
    top: 31px;
    width: 324px;
    height: 322px;
    border-radius: 50%;
    background: var(--title-secondary-color);
  }

  .hero__icecream {
    position: absolute;
    z-index: 2;
    left: 378px;
    top: 63px;
    width: 143px;
    height: 336px;
  }

  .hero__text {
    position: absolute;
    top: 292px;
    left: 154px;
    display: flex;
    flex-direction: column;
    width: 114px;
  }

  .hero__text-core {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: var(--base-color-light);
    margin-bottom: 9px;
  }

  .hero__text-btn {
    height: 18px;
    width: 18px;

    border-radius: 20px;
    border: none;
    outline: none;
    background-size: contain;
    background-image: url('../images/tablet/header/header-4.png');

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/tablet/header/header-4@2x.png');
    }

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  .hero__milk {
    position: absolute;
    top: 245px;
    left: 24px;
  }

  .hero__girl {
    position: absolute;
    top: 266px;
    left: 566px;
    z-index: 2;
  }
}

// -------------------------Desktop----------------------
@media screen and (min-width: 1280px) {
  .hero .container {
    position: relative;
    z-index: 1;
    min-width: 1090px;
    height: 665px;
    padding-top: 171px;
  }

  .hero__top {
    padding: 0;
    width: 100%;
  }

  .hero__title {
    width: 277px;
    z-index: 3;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 38px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--base-color-light);
    & span {
      display: inline-block;
      font-size: 58px;
      line-height: 0.91;
      color: var(--title-main-color);
    }
  }

  .hero__text,
  .hero__milk,
  .hero__girl,
  .hero__numbers {
    visibility: visible;
  }

  .hero__numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero__numbers-list {
    display: flex;
    flex-direction: column;
  }

  .hero__cafes-list {
    margin-bottom: 15px;
  }

  .hero__cafes-item,
  .hero__trucks-item {
    position: relative;
    z-index: 5;
  }

  .hero__cafes-text,
  .hero__trucks-text {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 46px;
    line-height: 1.16;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--title-main-color);
  }

  .hero__cafes-desc,
  .hero__trucks-desc {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    text-align: right;
    color: var(--base-color-light);
  }

  .hero__cafes-text::before,
  .hero__trucks-text::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    top: -8px;
    right: -10px;
    border-radius: 20px;
    background-color: #fff;
    z-index: -1;
  }

  .hero__buttons-item {
    margin-right: 15px;
  }

  .hero__btn {
    text-decoration: none;
    border: 0;
    z-index: 5;
    border-radius: 20px;
    background: var(--title-main-color);
    color: var(--base-color-light);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    min-width: 102px;
    padding: 11px 20px;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    transition: 250ms linear;

    &:hover,
    &:focus {
      background: var(--reviews-small-dots-color);
      cursor: pointer;
    }
  }

  .hero__btn2 {
    border: 0;
    z-index: 4;
    border-radius: 20px;
    background: var(--base-color-light);
    color: var(--title-main-color);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    min-width: 138px;
    padding: 11px 20px;
    align-items: center;
    text-align: center;
    margin-top: 25px;

    &:hover,
    &:focus {
      background-color: var(--btn-hover-color);
      cursor: pointer;
    }
  }

  .hero__circle {
    position: absolute;
    z-index: 1;
    left: 335px;
    top: 58px;
    width: 538px;
    height: 538px;
    border-radius: 50%;
    background: var(--title-secondary-color);
  }

  .hero__icecream {
    position: absolute;
    z-index: 2;
    left: 474px;
    top: 108px;
    width: 236px;
    height: 557px;
    animation-duration: 1000ms;
  }

  .hero__text {
    position: absolute;
    top: 485px;
    left: 175px;
    display: flex;
    flex-direction: column;
    width: 200px;
  }

  .hero__text-core {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: var(--base-color-light);
    margin-bottom: 20px;
  }

  .hero__text-btn {
    height: 26px;
    width: 26px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-size: contain;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-image: url('../images/desktop/header/header-4.png');

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/desktop/header/header-4@2x.png');
    }

    &:hover,
    &:focus {
      cursor: pointer;
      transform: scale(1.02);
    }
  }

  .hero__milk {
    position: absolute;
    top: 429px;
    left: -40px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      transform: scale(1.02);
    }
  }

  .hero__girl {
    position: absolute;
    top: 433px;
    left: 798px;
    z-index: 2;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      transform: scale(1.02);
    }
  }
}
