.product {
  padding-top: 121px;
  padding-bottom: 98px;
}
.product__leabel {
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-secondary-color);
  margin-bottom: 15px;
}
.product__heading {
  font-family: var(--secondary-font);
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--title-main-color);
  margin-bottom: 144px;
}
.product__item {
  width: 280px;
  height: 485px;
  border-radius: 24px;
  margin: 0 auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.02);
  }
}
.product__item:not(:last-child) {
  margin-bottom: 130px;
}
.product__item:first-child {
  background: #ffb8ca;
  position: relative;
  &::before {
    content: '';
    background-image: url(../images/mobile/products/products-1.png);
    @media screen and (min-device-pixel-ratio: 2) {
      background-image: url(../images/mobile/products/products-1@2x.png);
    }
    width: 249px;
    height: 252px;
    position: absolute;
    top: -25%;
    right: 5%;
  }
}
.product__item:nth-child(even) {
  background: #f0d1a5;
  position: relative;
  &::before {
    content: '';
    background-image: url(../images/mobile/products/products-2.png);
    @media screen and (min-device-pixel-ratio: 2) {
      background-image: url(../images/mobile/products/products-2@2x.png);
    }
    width: 249px;
    height: 252px;
    position: absolute;
    top: -25%;
    right: 5%;
  }
}
.product__item:last-child {
  background: #c2e297;
  position: relative;
  &::before {
    content: '';
    background-image: url(../images/mobile/products/products-3.png);
    @media screen and (min-device-pixel-ratio: 2) {
      background-image: url(../images/mobile/products/products-3@2x.png);
    }
    width: 249px;
    height: 252px;
    position: absolute;
    top: -25%;
    right: 5%;
  }
}
.product__box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-top: 161px;
  padding-right: 40px;
  padding-bottom: 41px;
}
.product__box-heading {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
.product__box-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-top: 66px;
  margin-bottom: 30px;
}

.product__box::after {
  content: '';
  background: url(../images/mobile/products/group-3.png);
  width: 26px;
  height: 6px;
  bottom: 54%;
  position: absolute;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .product {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  .conteiner {
    width: 768px;
    margin: 0 auto;
  }
  .product__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .product__leabel {
    font-family: var(--secondary-font);
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: #ffa5ba;
    margin-bottom: 15px;
  }
  .product__heading {
    font-family: var(--secondary-font);
    font-size: 48px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    margin-bottom: 150px;
  }
  .product__list {
    display: flex;
    justify-content: space-between;
  }
  .product__item {
    width: 220px;
    height: 485px;
    border-radius: 24px;
    margin: 0;

    &:first-child::before {
      content: '';
      background-image: url(../images/tablet/products/products-1.png);
      @media screen and (min-device-pixel-ratio: 2) {
        background-image: url(../images/tablet/products/products-1@2x.png);
      }
      width: 220px;
      height: 226px;
      position: absolute;
      top: -25%;
      right: -1%;
    }
    &:nth-child(even):before {
      content: '';
      background-image: url(../images/tablet/products/products-2.png);
      @media screen and (min-device-pixel-ratio: 2) {
        background-image: url(../images/tablet/products/products-2@2x.png);
      }
      width: 220px;
      height: 233px;
      position: absolute;
      top: -25%;
      right: -1%;
    }
    &:last-child:before {
      content: '';
      background-image: url(../images/tablet/products/products-3.png);
      @media screen and (min-device-pixel-ratio: 2) {
        background-image: url(../images/tablet/products/products-3@2x.png);
      }
      width: 220px;
      height: 224px;
      position: absolute;
      top: -25%;
      right: -1%;
    }
  }
  .product__box {
    padding-left: 11px;
    padding-right: 11px;
  }
  .product__box::after {
    content: '';
    background: url(../images/mobile/products/group-3.png);
    width: 26px;
    height: 6px;
    bottom: 56%;
    position: absolute;
  }
}
@media screen and (min-width: 1280px) {
  // .product__item:not(:last-child) {
  //  margin-bottom: 0px;
  // }

  .product {
    padding-top: 127px;
    padding-bottom: 119px;
  }

  .product__heading {
    margin-bottom: 259px;
  }
  .product__list {
    display: flex;
    justify-content: space-between;
  }
  .product__item {
    width: 329px;
    height: 525px;
    border-radius: 24px;
    margin: 0;

    &:first-child:before {
      content: '';
      background-image: url(../images/desktop/products/products-1.png);
      @media screen and (min-device-pixel-ratio: 2) {
        background-image: url(../images/desktop/products/products-1@2x.png);
      }
      width: 335px;
      height: 335px;
      position: absolute;
      top: -40%;
      right: -1%;
    }
    &:nth-child(even):before {
      content: '';
      background-image: url(../images/desktop/products/products-2.png);
      @media screen and (min-device-pixel-ratio: 2) {
        background-image: url(../images/desktop/products/products-2@2x.png);
      }
      width: 335px;
      height: 335px;
      position: absolute;
      top: -40%;
      right: -1%;
    }
    &:last-child:before {
      content: '';
      background-image: url(../images/desktop/products/products-3.png);
      @media screen and (min-device-pixel-ratio: 2) {
        background-image: url(../images/desktop/products/products-3@2x.png);
      }
      width: 335px;
      height: 335px;
      position: absolute;
      top: -40%;
      right: -1%;
    }
  }
  .product__box {
    padding-left: 40px;
    padding-right: 40px;
  }
  .product__box::after {
    content: '';
    background: url(../images/mobile/products/group-3.png);
    width: 26px;
    height: 6px;
    bottom: 56%;
    position: absolute;
  }
  .product__box-text {
    margin-bottom: 70px;
  }
}
